<!DOCTYPE html>
<html>
<head>
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href='static/css/style.css'>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<h1>对话机器人</h1>
<h3 id="user-id"> Made by MarsZhou </h3>
<div id="chatbox">
    <div id="messages"></div>
    <div id="user-input">
        <form id="user-form">
            <input type="text" id="user-input-text" placeholder="在此输入消息">

            <button type="submit" class="myButton">发送</button>
            <button id="reset-button" class="myButton">清空</button>
            <section id="audio-list"></section>
            <template id="audio-item-template">
                    <div>
                        <audio class="audio-player" autoplay></audio>
                    </div>

            </template>

        </form>
    </div>
</div>


<script src="static/js/audio.js"></script>
</body>
</html>
